<!DOCTYPE html>
<html lang="zh-Hans">
<head>
	<meta charset="UTF-8">
	<title>todo功能 + v-model示例</title>
</head>
<body>
	<div id="app">
    <!-- v-model: 把表单输入框中的内容 和 data中的变量值进行了 双向绑定 -->
    <input type="text" placeholder="输入代办事项" v-model="inputValue">

    <!-- v-on: 对元素的交互进行了监听，同时定义了回调处理函数 -->
    <button v-on:click="handleBtn">确定</button>

    <ul>
      <p>待办事项有:</p>
      <!-- v-for: 对数据进行遍历，并通过模板渲染到页面 -->
      <li v-for="item in todoList">{{item}}</li>
    </ul>


    <div>
      这段代码的具体参考文档是:
      <p>
        <a href="https://cn.vuejs.org/v2/guide/index.html">
          Vue官方文档: 介绍
        </a>
      </p>
    </div>
    
		
		
	
		
	</div>


	<script src="https://cdn.bootcss.com/vue/2.6.5/vue.min.js"></script>
	<script>
		let app = new Vue({
			el: '#app',     
			data: {
				todoList: [],
        inputValue: '',
			},
      methods: {
        handleBtn(){
          this.todoList.push(this.inputValue)
          this.inputValue = ''   //双向绑定，数据变化会同时导致页面显示变化
        }
      }
		})
	</script>

</body>
</html>