<!DOCTYPE html>
<html lang="zh-Hans">
<head>
	<meta charset="UTF-8">
	<title>todo功能 + 注册组件 + 传递数据</title>
</head>
<body>
	<div id="app">
    <div>
      <!-- v-model: 把表单输入框中的内容 和 data中的变量值进行了 双向绑定 -->
      <input type="text" placeholder="输入代办事项" v-model="inputValue">

      <!-- v-on: 对元素的交互进行了监听，同时定义了回调处理函数 -->
      <button v-on:click="handleBtn">确定</button>
    </div>
    
    <ul>
      <!-- todo-item相当于是占位符，会被子组件内部的template替换渲染 -->
      <!-- 子组件可以通过v-for直接访问父组件的数据 -->
      <!-- V-bind可以给html绑定属性，指令的值可以直接访问该组件中的 任意声明数据-->
      <todo-item 
        v-for="item in todoList"  
        v-bind:content="item">
        <!-- S1 这里直接使用模板字符串会出错，因为之后会被template替换渲染 -->
        <!-- S2 要把父组件的数据传到子组件中，可以使用 props，props可以直接在template使用 -->
        {{item}}  
      </todo-item>
     
    </ul>


    <div>
      这段代码的具体参考文档是:
      <p>
        <a href="https://cn.vuejs.org/v2/guide/components.html">
          Vue官方文档: 组件基础
        </a>
      </p>
    </div>
    
			
	</div>


	<script src="https://cdn.bootcss.com/vue/2.6.5/vue.min.js"></script>
	<script>
		let app = new Vue({
			el: '#app',     
			data: {
				todoList: [],
        inputValue: '',
			},
      methods: {
        handleBtn(){
          this.todoList.push(this.inputValue)
          this.inputValue = ''   //双向绑定，数据变化会同时导致页面显示变化
        }
      },
      // 局部注册方式,最佳使用方式是连字符方式
      components: {
        'todo-item': {
          props: ['content'],
          template: '<li> {{content}} </li>'
        }
      }
		})
	</script>

</body>
</html>