<!DOCTYPE html>
<html lang="zh-Hans">
<head>
	<meta charset="UTF-8">
  <title>v-for 与 数组操作</title>
  
</head>

<body>
	<div id="app">
		<!-- 1.1 v-for: 遍历多个对象 -->
		<ul>
			<li v-for="(item, index) in person">{{index}}--{{item.name}}</li>
		</ul>

		<!-- 1.2 v-for: 遍历一个对象的多个属性 -->
		<ul>
			<li v-for="(value, key, index) in boy">
				{{index}}--{{key}}--{{value}}
			</li>
		</ul>

		<!-- 2.1 数组更新-变异方法 + 非变异方法-->
		<ul>
			<li v-for="item in arr">{{item.age}}-- {{item.name}}</li>
		</ul>
		<input type="button" value="点击切换内容" @click="changearr">

		<!-- 2.2 数组赋值-->
		<div v-for="elem in msg">{{elem}}</div>
		<input type="button" value="点击实现赋值" @click="changemsg">
		


	</div>

	<script src="https://cdn.bootcss.com/vue/2.6.5/vue.min.js"></script>

	<script>
		let app = new Vue({
      el: '#app',
      data: {
      	person: [
      	{name: '小新'},
      	{name: '风间'},
      	{name: '舔狗正南'}
      	],

      	boy: {
      		name: '小新',
      		look: 'funny',
      		age: 5
      	},

      	arr: [
      		{name: '小新', age: 5},
      		{name: '风间', age: 7},
      		{name: '正南', age: 6}
      	],

      	msg: [1,2,3,4]
      },
      methods:{
      	changearr(){
      		//push方法 
      		// this.arr.push('可怕的妮妮')

      		//sort方法
      		// this.arr.sort((a,b)=> {
      		// 	return a.age - b.age
      		// })

      		// filter方法
      		this.arr = this.arr.filter((item)=>{
      			return item.age > 5
      		})
      	},

      	changemsg(){
      		Vue.set(app.msg,0,8)
      		this.person.splice(2)
      		this.msg = Object.assign({}, this.msg, [2,2,2,2])
      	}
      }
      
      

    })
	</script>

</body>
</html>

