<!DOCTYPE html>
<html lang="zh-Hans">

<head>
	<meta charset="UTF-8">
	<title>内置指令介绍</title>

	<style>
		/* reset部分 */
		h4 {
			padding:0;
			margin: 0;
		}
		.gram {
			padding-bottom: 20px;
		}
		[v-cloak] {
			display: none;
		}
	</style>

</head>

<body>
	<div id="app">

		<!-- 例子1 v-clock-->
		<div>
			<h4> v-clock指令: 隐藏未编译完成的模板，避免渲染页面闪动 </h4>
			<div class="gram"> 语法为 v-cloak </div>

			<div v-cloak>{{msg}}</div>
		</div>
		<hr>

		<!-- 例子2 v-once-->
		<div>
			<h4> v-once指令: 只渲染一次元素，之后重新渲染会被跳过 </h4>
			<div class="gram"> 语法为 v-once </div>
	
			<div v-once>{{oncetext}}</div>
		</div>
		<hr>

		<!-- 例子3 v-if + v-else指令-->
		<div>
			<h4> v-if + v-else指令: 条件渲染 </h4>
			<div class="gram"> 语法: v-if/v-else-if = "值为boolean类型的表达式" </div>
			
			<div v-if="seen"> 我是if部分 </div>
			<div v-else-if="5<3"> 我是else-if 部分</div>
			<div v-else> 我是else部分 </div>

		</div>
		<hr>

		<!-- 例子4 v-if + v-else-if + key-->
		<div>
				<h4> v-if + v-else-if + key </h4>
				<div class="gram"> 语法: key="任意名称" </div>
				
				<div v-if="content === 'name'">
					<label>输入姓名:</label>
					<input type="text" placeholder="请输入姓名" key="name"></input>
				</div>
			
				<div v-else-if="content === 'pwd'">
					<label>输入密码:</label>
					<input type="text" placeholder="请输入密码" key="password"></input>
				</div>
			
				<input type="button" value="点击切换内容" @click="changetype">
			
		</div>
		<hr>

		<!-- 例子5 : 修改display属性，元素总是会被渲染 + 适合需要频繁切换-->
		<div>
			<h4> v-if指令 + v-show指令 </h4>
			<div class="gram"> 两者语法一致 </div>
				
			<div v-if="ifseen"> if指令显示</div>
			<div v-show="showseen"> show指令显示</div>
			
		</div>
		<hr>

	</div>


	<script src="https://cdn.bootcss.com/vue/2.6.5/vue.min.js"></script>

	<script>
		let app = new Vue({
			el: '#app',
			data: {
				msg: 'hello world',
				oncetext: '我渲染一次后就不会再改变哦',

				seen: 5 < 3,
				content: "name",

				ifseen: true,
				showseen: false
			},
			methods: {
				changetype() {
					this.content = (this.content === 'name' ? 'pwd' : 'name')
				}
			}


		})
	</script>

</body>

</html>

