<!DOCTYPE html>
<html lang="zh-Hans">

<head>
	<meta charset="UTF-8">
	<title>v-for指令</title>

	<style>
		/* reset部分 */
		h4 {
			padding:0;
			margin: 0;
		}
		.gram {
			padding-bottom: 20px;
		}
		

	</style>

</head>

<body>
	<div id="app">

		<!-- 例1 -->
		<div>
			<h4> v-for 遍历 数组内的多个对象 </h4>
			<div class="gram"> 语法: v-for="(item, index) of 数组/对象数据变量" </div>

			<ul>
				<li v-for="(item, index) of person">{{index}}--{{item.name}}-- {{item.age}} </li>
			</ul>
		</div>
		<hr>

		<!-- 例2 -->
		<div>
			<h4> v-for 遍历一个对象内的多个属性 </h4>
		
			<ul>
				<li v-for="(value, key, index) of boy">
					{{index}}--{{key}}--{{value}}
				</li>
			</ul>
		</div>
		<hr>

		<!-- 例3-->
		<div>
			<h4> v-for 数据重用和重新排序 </h4>
				
			<ul>
				<li 
					v-for="item of person"
					:key="item.id"
				>
					{{item.name}}--{{item.age}}
				</li>
			</ul>
	
		</div>
		<hr>

		<!-- 例4 -->
		<div>
			<h4> 数组更新-变异方法 + 非变异方法 </h4>
				
			<ul>
				<li v-for="item in arr">{{item.age}}-- {{item.name}}</li>
			</ul>

			<input type="button" value="点击切换内容" @click="changearr">
			
		</div>
		<hr>

		<!-- 例5 -->
		<div>
				<h4> vue.set/vm.$set 的使用 </h4>
					
				<ul>
					<li v-for="(item, index) in price" :key="index">{{item}}</li>
				</ul>
	
				<input type="button" value="点击改变数组" @click="changePrice">
				
			</div>
			<hr>

		

	</div>


	<script src="https://cdn.bootcss.com/vue/2.6.5/vue.min.js"></script>

	<script>
		let app = new Vue({
			el: '#app',
			data: {
				// 例1,例3 数据
				person: [
      		{name: '小新', id: 01, age: 10,},
      		{name: '风间', id: 02, age: 11},
      		{name: '舔狗正南', id: 03, age: 12}
      	],

				// 例2数据
				boy: {
      		name: '小新',
      		look: 'funny',
      		age: 5
      	},

				// 例4数据
				arr: [
      		{name: '小新', age: 5},
      		{name: '风间', age: 7},
      		{name: '正南', age: 6}
      	],

				// 例5数据
				price: [111, 222, 333]

			
			},

			methods: {

				// 例4对应方法
				changearr(){
      		//push方法 
      		// this.arr.push('可怕的妮妮')

      		//sort方法
      		// this.arr.sort((a,b)=> {
      		// 	return a.age - b.age
      		// })

      		// filter方法
      		this.arr = this.arr.filter((item)=>{
      			return item.age > 5
      		})
      	},

				// 例5对应方法
				changePrice() {
					this.price[2] = 444,   // 直接通过下标修改数组值，不会检测数据修改
					//this.price.length = 1  // 直接通过length修改数组长度，vue不会检测修改

					console.log(app === this)   //true
					Vue.set(this.price, 1, 345)
				}	
			}
			
			


		})
	</script>

</body>

</html>

